FEISHU_APP_ID=cli_xxxxxxxxxxxxxxxx
FEISHU_APP_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
FEISHU_APP_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
FEISHU_TABLE_JOB_RULES=tblxxxxxxxxxxxxxxxx
FEISHU_TABLE_INTERACTION_LOG=tblxxxxxxxxxxxxxxxx
BOSS_RUN_DIR="$HOME/.boss-feishu-greeter-260505"
BOSS_OPERATOR=
